<!-- About -->
      <div id="about" class="py-3 pt-lg-6 pb-lg-0">
        <div class="container">
          <div data-animate="fadeIn" data-animate-duration="0.8">
            <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
            <h2 class="text-center text-uppercase font-weight-bold my-0">
              We are <span class="text-shadow">AppStrap</span>
            </h2>
            <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
              This is how we roll
            </h5>
            <hr class="mb-5 w-50 mx-auto" />
          </div>
          <div class="row">
            <div class="col-md-6" data-animate="fadeIn" data-animate-delay="0.4" data-animate-offset="100%">
              <p class="lead">Dignissim obruo sudo vereor vero. Damnum exputo hos importunus pneum populus similis sit tego validus.</p>
              <p>Eu exerci jugis meus neque pagus sagaciter si. Eligo rusticus ymo. Capto eum minim pagus.</p>
              <p class="mb-0">Bene esca jugis utrum. Capto consectetuer elit enim gemino jumentum neque patria roto torqueo. Abluo esse haero neque rusticus. Appellatio euismod letalis lucidus verto. Accumsan ea genitus iriure melior praesent quia utrum venio volutpat.</p>
            </div>
            <div class="col-md-6" data-animate="fadeIn" data-animate-delay="0.8" data-animate-offset="100%">
              <!-- List Items -->
              <ul class="fa-ul list-unstyled mt-4 mt-md-0">
                <li class="mb-4">
                  <i class="fa-li fa fa-check text-primary"></i> 
                  <h4 class="mb-1">
                    Camur Jus Suscipit Vicis
                  </h4>
                  Abico acsi ea humo obruo singularis tum.
                </li>
                <li class="mb-3">
                  <i class="fa-li fa fa-check text-primary"></i> 
                  <h4 class="mb-1">
                    Accumsan Melior Quadrum Ut
                  </h4>
                  Aliquam consequat euismod exputo ibidem letalis molior nulla os vero.
                </li>
                <li>
                  <i class="fa-li fa fa-check text-primary"></i> 
                  <h4 class="mb-1">
                    Diam Genitus Quia Sed
                  </h4>
                  Illum torqueo valde. Abdo eligo illum natu paratus voco.
                </li>
              </ul>
            </div>
          </div>
        </div>