<!-- ======== @Region: #header ======== -->
   <div id="header">

      <!--Header upper region-->
      <div class="header-upper">
        <!--Show/hide trigger for #hidden-header -->
        <!-- all direct children of the .header-inner element will be vertically aligned with each other you can override all the behaviours using the flexbox utilities (flexbox.htm) All elements with .header-brand & .header-block-flex wrappers will automatically be aligned inline & vertically using flexbox, this can be overridden using the flexbox utilities (flexbox.htm) Use .header-block to stack elements within on small screen & "float" on larger screens use .flex-first or/and .flex-last classes to make an element show first or last within .header-inner or .headr-block elements -->
        <div class="header-inner container">
          <!--user menu-->
          <div class="header-block-flex flex-first mr-auto">
          </div>
          <!--social media icons-->
          <div class="nav nav-icons header-block flex-last">
            <!--@todo: replace with company social media details-->
            <a href="https://twitter.com/agla1956TANO" class="nav-link"> <i class="fa fa-twitter-square icon-1x"></i> <span class="sr-only">Twitter</span> </a>
            <a href="https://www.facebook.com/groups/158294158043674/" class="nav-link"> <i class="fa fa-facebook-square icon-1x"></i> <span class="sr-only">Facebook</span> </a>
            <a href="https://plus.google.com/u/0/117711474505282412112" class="nav-link"> <i class="fa fa-google-plus-square icon-1x"></i> <span class="sr-only">Google plus</span> </a>
              <div class="header-divider header-divider-sm"></div>
              <nav class="nav nav-sm header-block-flex">
              <a class="nav-link text-xs text-uppercase hidden-sm-down" href="/donate">Donate</a>
              <a class="nav-link text-xs text-uppercase hidden-sm-down" href="/submit">Submit</a>
<!--          <a class="nav-link text-xs text-uppercase hidden-sm-down" href="#login-modal" data-toggle="modal">Login</a> -->
            </nav>
            <div class="header-divider header-divider-sm"></div>
            <!--language menu-->
            <div class="dropdown dropdowns-no-carets">
              <a href="#en" class="nav-link text-xs p-1 dropdown-toggle" data-toggle="dropdown"><i class="flag-icon flag-icon-gb"></i></a>
              <div class="dropdown-menu dropdown-menu-mini dropdown-menu-primary">
                <a href="#es" class="dropdown-item lang-es"><i class="flag-icon flag-icon-es"></i> Spanish</a>
                <a href="#pt" class="dropdown-item lang-pt"><i class="flag-icon flag-icon-pt"></i> Portguese</a>
                <a href="#cn" class="dropdown-item lang-cn"><i class="flag-icon flag-icon-cn"></i> Chinese</a>
                <a href="#se" class="dropdown-item lang-se"><i class="flag-icon flag-icon-se"></i> Swedish</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-toggle="sticky">

        <!--Header & Branding region-->
        <div class="header">
          <!-- all direct children of the .header-inner element will be vertically aligned with each other you can override all the behaviours using the flexbox utilities (flexbox.htm) All elements with .header-brand & .header-block-flex wrappers will automatically be aligned inline & vertically using flexbox, this can be overridden using the flexbox utilities (flexbox.htm) Use .header-block to stack elements within on small screen & "float" on larger screens use .flex-first or/and .flex-last classes to make an element show first or last within .header-inner or .headr-block elements -->
          <div class="header-inner container">
            <!--branding/logo -->
            <div class="header-brand flex-first">
              <a class="header-brand-text" href="/" title="Home">
                <h1>
                  <span>There Are</span> No Others<span></span>
                </h1>
              </a>
<!--                mini text to right of the title w/ split color-->
<!--              <div class="header-slogan hidden-md-down">How are we to treat others</div>-->
            </div>
            <!-- other header content -->
            <div class="header-block flex-last">

<!-- Search option
              Search trigger
              <a href="#search" class="btn btn-icon btn-link header-btn float-right flex-last" data-toggle="search-form" data-target=".header-search"><i class="fa fa-search fa-flip-horizontal search-icon"></i></a>

-->
              <!-- mobile collapse menu button - data-toggle="collapse" = default BS menu - data-toggle="jpanel-menu" = jPanel Menu - data-toggle="overlay" = Overlay Menu -->
              <a href="#top" class="btn btn-link btn-icon header-btn float-right hidden-lg-up" data-toggle="jpanel-menu" data-target=".navbar-main" data-direction="right"> <i class="fa fa-bars"></i> </a>
            </div>

            <div class="navbar navbar-toggleable-md">
              <!--everything within this div is collapsed on mobile-->
              <div class="navbar-main collapse">
                <!--main navigation-->
                <ul class="nav navbar-nav float-lg-right dropdown-effect-fade">
                  <!-- Homepages -->
                  <li class="nav-item">
                    <a href="/" class="nav-link" id="indexs-drop"> <i class="fa fa-home"></i> <span class="hidden-xs-up">Home</span> </a>
                  </li>

                  <!-- Projects -->
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="pages-drop" data-toggle="dropdown" data-hover="dropdown">Projects</a>
                    <!-- Menu -->
                    <div class="dropdown-menu">
<!--                      <div class="dropdown">-->
<!--                        <a href="/projects/music/" class="dropdown-item" id="about-drop">Music</a> -->
<!--
                         Dropdown Menu
                        <div class="dropdown-menu" role="menu" aria-labelledby="about-drop"> <a href="about.htm" class="dropdown-item">About Us Basic</a> <a href="about-extended.htm" class="dropdown-item">About Us Extended</a> <a href="about-me.htm" class="dropdown-item">About Me</a> <a href="team.htm" class="dropdown-item">Team List</a> <a href="team-grid.htm" class="dropdown-item">Team Grid</a> <a href="team-member.htm" class="dropdown-item">Team Member</a> <a href="contact.htm" class="dropdown-item">Contact</a> <a href="contact.php" class="dropdown-item">Contact (PHP)</a> </div>
-->
<!--
                      </div>
                      <div class="dropdown dropdown-submenu">
                        <a href="blog.htm" class="dropdown-item dropdown-toggle" id="blog-drop" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Blog</a>
-->
                        <!-- Dropdown Menu -->
<!--
                        <div class="dropdown-menu"> <a href="blog.htm" class="dropdown-item">Blog List Right Sidebar</a> <a href="blog-leftbar.htm" class="dropdown-item">Blog List Left Sidebar</a> <a href="blog-timeline.htm" class="dropdown-item">Blog List Timeline</a> <a href="blog-grid.htm" class="dropdown-item">Blog List Grid</a> <a href="blog-post.htm" class="dropdown-item">Blog Post</a> <a href="blog-post-video.htm" class="dropdown-item">Blog Post With Video</a> <a href="blog-post-slideshow.htm" class="dropdown-item">Blog Post With Slideshow</a> <a href="blog-post-audio.htm" class="dropdown-item">Blog Post With Audio Clip</a> </div>
                      </div>
                      <div class="dropdown dropdown-submenu">
                        <a href="pricing.htm" class="dropdown-item dropdown-toggle" id="pricing-drop" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Pricing</a>
-->
                        <!-- pricing pages -->
<!--
                        <div class="dropdown-menu"> <a href="pricing.htm" class="dropdown-item">Pricing Plans</a> <a href="pricing-tables.htm" class="dropdown-item">Comparison Tables</a> </div>
                      </div>
                      <div class="dropdown dropdown-submenu">
                        <a href="timeline.htm" class="dropdown-item dropdown-toggle" id="timeline-drop" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Timeline</a>
-->
                        <!-- timelines -->
<!--
                        <div class="dropdown-menu" role="menu" aria-labelledby="timeline-drop"> <a href="timeline.htm" class="dropdown-item">Timeline Default</a> <a href="timeline-left.htm" class="dropdown-item">Timeline Left</a> <a href="timeline-right.htm" class="dropdown-item">Timeline Right</a> <a href="timeline-stacked.htm" class="dropdown-item">Timeline Stacked</a> </div>
                      </div>
-->
                      <a href="/music" class="dropdown-item">Music</a>
                      <a href="/art" class="dropdown-item">Art</a>
                      <a href="/writings" class="dropdown-item">Writings</a>
                    </div>
                  </li>


                  <!-- Education -->
                  <li class="nav-item">
                    <a href="https://www.youtube.com/channel/UCrO1UzyP7zIJeBHujgnizew" class="nav-link" id="edu-drop">Education<span class="hidden-xs-up">Education</span> </a>
                  </li>
                  <!--Events-->
                  <li class="nav-item">
                    <a href="/events" class="nav-link" id="events-drop">Events<span class="hidden-xs-up">Events</span> </a>
                  </li>
                   <!--Contact-->
                  <li class="nav-item">
                    <a href="/contact" class="nav-link" id="contact-drop">Contact<span class="hidden-xs-up">Contact</span> </a>
                  </li>

                </ul>
              </div>
              <!--/.navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
    </div>
