<!-- home-buttons -->
      <div id="home-buttons" class="container py-4 py-lg-6">
        <div data-animate="fadeIn" data-animate-duration="0.6">
<!--          <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />-->
         
        </div>
        <div class="row text-center">
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.1">
              <a href="/about" class="btn btn-primary btn-lg btn-block"><h4 class="mt-2">Who We Are</h4></a>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.2">
            <a href="/beliefs" class="btn btn-primary btn-lg btn-block"><h4 class="mt-2">What We Believe</h4></a>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.3">
              <a href="/donate" class="btn btn-primary btn-lg btn-block"><h4 class="mt-2">How You Can Help</h4></a>
          </div>
        </div>
      </div>