<!--home-about-->
      <div id="home-about" class="container py-4 py-lg-6">
        <div data-animate="fadeIn" data-animate-duration="0.6">
        </div>
        <div class="row text-center">
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.1">
            <i class="fa fa-instagram icon-5x text-primary"></i> 
            <a href="#" class="btn btn-primary btn-block"><h4 class="mt-2">
              Find Us On Instagram
                </h4></a>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.2">
            <i class="fa fa-twitter icon-5x text-primary"></i> 
            <a href="#" class="btn btn-primary btn-block"><h4 class="mt-2">
              Recent Tweets
            </h4></a>
            <p>Jumentum nisl ratis. Abigo amet damnum exputo jus nibh patria quidem quis valetudo.</p>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.3">
            <i class="fa fa-facebook icon-5x text-primary"></i> 
           <a href="#" class="btn btn-primary btn-block"><h4 class="mt-2">
              Find Us On Facebook
            </h4></a> 
          </div>
<!--
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.4">
            <i class="fa fa-line-chart icon-5x text-primary"></i> 
            <h4 class="mt-2">
              99.9% Uptime
            </h4>
            <p>Abdo exerci ille molior utrum. Accumsan aliquip commodo consequat eros illum populus suscipere usitas.</p>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.5">
            <i class="fa fa-smile-o icon-5x text-primary"></i> 
            <h4 class="mt-2">
              Multiuser
            </h4>
            <p>Capto cogo decet esca facilisi immitto pertineo valde.</p>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.6">
            <i class="fa fa-plug icon-5x text-primary"></i> 
            <h4 class="mt-2">
              Plug n play
            </h4>
            <p>Iusto lobortis persto tego. Abdo antehabeo damnum genitus ille meus oppeto pecus pertineo te.</p>
          </div>
-->
        </div>
      </div>