<!--home-about-->
<div id="features" class="container py-4 py-lg-6">
      <div id="home-about" class="container py-4 py-lg-6">
        <div data-animate="fadeIn" data-animate-duration="0.6">
          <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
          <h2 class="text-center text-uppercase font-weight-bold my-0">
            Follow Us Online
          </h2>
          <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
            Fix Me
          </h5>
          <hr class="mb-5 w-50 mx-auto" />
        </div>
        <div class="row text-center">
          <div class="col-lg-3 py-2" data-animate="fadeIn" data-animate-delay="0.1">
            <i class="fa fa-instagram icon-5x text-primary"></i>
            <a href="https://www.instagram.com/therearenoothers1111/" class="btn btn-primary btn-block"><h4 class="mt-2">
              Instagram
            </h4></a>
          </div>
          <div class="col-lg-3 py-2" data-animate="fadeIn" data-animate-delay="0.2">
            <i class="fa fa-twitter icon-5x text-primary"></i>
            <a href="https://twitter.com/agla1956TANO" class="btn btn-primary btn-block"><h4 class="mt-2">
              Twitter
            </h4></a>
          </div>
          <div class="col-lg-3 py-2" data-animate="fadeIn" data-animate-delay="0.3">
            <i class="fa fa-facebook icon-5x text-primary"></i>
           <a href="https://www.facebook.com/groups/158294158043674/" class="btn btn-primary btn-block"><h4 class="mt-2">
              Facebook
            </h4></a>
          </div>
          <div class="col-lg-3 py-2" data-animate="fadeIn" data-animate-delay="0.3">
            <i class="fa fa-youtube-play icon-5x text-primary"></i>
           <a href="https://www.youtube.com/channel/UCrO1UzyP7zIJeBHujgnizew" class="btn btn-primary btn-block"><h4 class="mt-2">
              Youtube
            </h4></a>
          </div>
<!--
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.4">
            <i class="fa fa-line-chart icon-5x text-primary"></i>
            <h4 class="mt-2">
              99.9% Uptime
            </h4>
            <p>Abdo exerci ille molior utrum. Accumsan aliquip commodo consequat eros illum populus suscipere usitas.</p>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.5">
            <i class="fa fa-smile-o icon-5x text-primary"></i>
            <h4 class="mt-2">
              Multiuser
            </h4>
            <p>Capto cogo decet esca facilisi immitto pertineo valde.</p>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.6">
            <i class="fa fa-plug icon-5x text-primary"></i>
            <h4 class="mt-2">
              Plug n play
            </h4>
            <p>Iusto lobortis persto tego. Abdo antehabeo damnum genitus ille meus oppeto pecus pertineo te.</p>
          </div>
-->
        </div>
      </div>
