<!-- Why AppStrap -->
        <div class="bg-inverse mt-3 mt-lg-6">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-5 divider-diagonal divider-diagonal-r divider-inverse" data-bg-img="assets/img/backgrounds/computer-screens.jpg" data-animate="fadeIn" data-animate-delay="0.1"></div>
              <div class="col-lg-4 py-5" data-animate="fadeIn" data-animate-delay="0.3">
                <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
                <h2 class="display-4 text-slab text-white text-uppercase mt-0 mb-5">
                  Choose <span class="text-primary font-weight-bold">AppStrap</span>
                </h2>
                <div class="row mb-3">
                  <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-primary icon-2x"></i>
</div>
                  <div class="col-10 col-md-11 text-grey">
                    <h4 class="font-weight-bold text-white text-uppercase">
                      Fully Optimized
                    </h4>
                    <p>Dignissim exerci ibidem ludus molior probo refero velit veniam volutpat. Dignissim importunus laoreet ut. Decet eum nulla sagaciter secundum.</p>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-primary icon-2x"></i>
</div>
                  <div class="col-10 col-md-11 text-grey">
                    <h4 class="font-weight-bold text-white text-uppercase">
                      Free Upgrades
                    </h4>
                    <p>Brevitas decet magna minim modo nimis nisl quis refoveo zelus. Dolus et ex inhibeo jumentum neque nulla odio paulatim sagaciter.</p>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-primary icon-2x"></i>
</div>
                  <div class="col-10 col-md-11 text-grey">
                    <h4 class="font-weight-bold text-white text-uppercase">
                      99.9% Uptime
                    </h4>
                    <p>Eu laoreet validus. Brevitas diam ex humo lobortis quidem saluto. Aliquam laoreet minim molior neque nobis obruo vereor vicis.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-0" />
        <div class="bg-faded py-3 py-lg-6 overlay overlay-white overlay-op-9" data-bg-img="https://picjumbo.imgix.net/HNCK2530.jpg?q=40&w=3000&sharp=40" data-css='{"background-attachment": "fixed"}'>
          <div class="container">
            <h3>
              Skills Set
            </h3>
            <hr class="hr-lg m-0 hr-primary w-10" />
            <hr class="mt-0 mb-4 hr-blank" />
            <div class="row">
              <div class="col-lg-6">
                <div class="row align-items-center mb-4 no-gutters">
                  <div class="col-md-2 text-md-center"><i class="fa fa-fw icon-2x fa-html5 text-primary-dark"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">
                      HTML5 (83%)
                    </h5>
                    <div class="progress">
                      <div class="progress-bar w-83" data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-4 no-gutters">
                  <div class="col-md-2 text-md-center"><i class="fa fa-fw icon-2x fa-css3 text-primary-dark"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">
                      CSS3 (50%)
                    </h5>
                    <div class="progress">
                      <div class="progress-bar w-50" data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-4 no-gutters">
                  <div class="col-md-2 text-md-center"><i class="fa fa-fw icon-2x fa-linux text-primary-dark"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">
                      System Admin (69%)
                    </h5>
                    <div class="progress">
                      <div class="progress-bar w-69" data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row align-items-center mb-4 no-gutters">
                  <div class="col-md-2 text-md-center"><i class="fa fa-fw icon-2x fa-android text-primary-dark"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">
                      Android (75%)
                    </h5>
                    <div class="progress">
                      <div class="progress-bar w-75" data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-4 no-gutters">
                  <div class="col-md-2 text-md-center"><i class="fa fa-fw icon-2x fa-windows text-primary-dark"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">
                      Windows (91%)
                    </h5>
                    <div class="progress">
                      <div class="progress-bar w-91" data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-4 no-gutters">
                  <div class="col-md-2 text-md-center"><i class="fa fa-fw icon-2x fa-github-alt text-primary-dark"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">
                      GitHub (93%)
                    </h5>
                    <div class="progress">
                      <div class="progress-bar w-93" data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>