 <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height/screen add the attributes: data-toggle="full-height" data-offset="#header" -->
      <div class="bg-white overlay overlay-primary overlay-op-8 text-center px-3 py-5 py-lg-10 flex-valign" data-bg-img="assets/img/backgrounds/young-man-standing-in-front-of-concrete-wall-picjumbo-com.jpg" data-css='{"background-position": "center bottom","background-attachment": "fixed"}' data-offset="#header">
        <h2 class="display-4 text-white" data-animate="fadeIn" data-animate-delay="0.2">
          The student asked,<span class="font-weight-bold">“How can we help?”</span>
        </h2>
        <h3 class="text-grey font-weight-normal" data-animate="fadeIn" data-animate-delay="0.35">
           the teacher answered simply, “Donate".
        </h3>
        <hr class="hr-inverse hr-lg w-20 mx-auto my-4" data-animate="fadeIn" data-animate-delay="0.45" />
        <div> <a href="/donate" class="btn btn-inverse btn-rounded btn-lg py-lg-3 px-lg-5" data-toggle="scroll-link" data-animate="fadeIn" data-animate-delay="0.55">Donate Now</a>
        </div>
      </div>
    </div>
<div class="container">
<p>This all began with a simple question that a student asked his teacher. The student asked, “How are we to treat others?” and the teacher answered simply, “There are no others”.</p>
<p>There is nothing simple about the meaning of this exchange.
It is a profound truth that if truly understood and practiced, could change the very nature of our existence. We identify ourselves through the constructs of self-created boundaries, our nationalities, culture, religion, families, race, gender, occupation, economic status, and in countless other ways. Our attachment to these distinctions only serves to divide us into a state of “othering” that is at the core of the chaos and discord that seems to be driving our world.  
It is our hope to engage people in the exploration and practice of the simple idea that there are no others.</p>
</div>