
<!--putting an ! is handlebars way of commenting out-->

<!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted">
<!--        slideshow partial-->
        {{> slideshow }}
    </div>
    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0">
<!--        home-buttons partial-->
        {{> home-buttons }}
<!--        about partial-->
    <div class="container">
        {{> map }}
    </div>
    <!--        home-about partial-->
    {{> home-about }}
<!--        why-app-strap partial-->
        {{! why-app-strap }}
<!--        hiring partial-->
        {{! hiring }}
<!--        features partial-->
        {{! features }}
<!--        pricing-table partial-->
        {{! pricing-table }}
<!--        video-background-mdr partial-->
        {{! video-background-mdr }}
<!--        projects-carousel partial-->
        {{! projects-carousel }}
<!--        customer testimonial partial-->
        {{! customer-testimonial }}
<!--        contact-us partial-->
        {{! contact-us }}
    </div>
