<div id="content">
<div class="container" id="media">
  <br />
  <div class="row">
    <div class="col-md-12">
      <h2 class="title-divider"><span>{{entry.title}} <span class="font-weight-normal text-muted">{{entry.author}}</span></span><small>{{entry.description}}</small></h2>
    </div>
  </div>
  <div class="row">
  <div class="col-md-10 offset-md-1 embed-responsive embed-responsive-16by9">
    <video controls>
      <source src="/submissions/{{entry.file}}" type="video/mp4">
      Your browser does not support the video element.
    </video>
  </div>
</div>
<br />
</div>
</div>
