<div id="content">
<div class="container" id="media">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title-divider"><span>{{entry.title}} <span class="font-weight-normal text-muted">{{entry.author}}</span></span><small>{{entry.description}}</small></h2>
    </div>
  </div>
  <div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="container-fluid">

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="/submissions/{{entry.file}}" allowfullscreen></iframe>
</div>
</div>
  </div>
</div>
</div>
</div>
