<!DOCTYPE html>
<html lang="en">
 <!--      partial for header -->
  {{> head }}

  <!-- ======== @Region: body ======== -->
  <body class="page page-onepager header-compact-sticky page-index-onepager navbar-layout-default">
<!--    partial for page-loader-->
    {{> page-loader }}

    <a href="#content" id="top" class="sr-only">Skip to content</a>

<!--    partial for header-->
    {{> header }}

<!--  entry for the view in to the layout-->
    {{{body}}}


<!--      partial for footer -->
  {{> footer }}

    <!--Hidden elements - excluded from jPanel Menu on mobile-->
<!--  partial for js includes -->
    {{> script }}
  </body>
</html>
